/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: powderblue;
  margin: 30px 100px;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 300px;
  min-width: 1000px;
  margin: auto;
  background-color: navy;
  border-radius: 8px;

}

h1 {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 20px;
}

#main-boat {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width:70%;
  height: 100%;
}

.head-float {
  float: right;
  padding-right: 37px;
  clear: both;
  text-align: center;
}

#head-p {
  font-size: 42px;
  color: seashell;
  margin-bottom: 10px;
  padding-right: 15px;
}

#anchor {
  padding-right: 78px;
  padding-left: 10px;
  height: 175px;
  width: 150px;

}

nav ul{
  text-align: center;
  margin-top: 0;
  /*padding-bottom: -20px;*/
  margin-bottom: 0;
  padding-left: 0;
  min-width: 1000px;
}

nav ul li {
  display: inline-block;
  height: 35px;
  width: 300px;
  background-color: steelblue;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  margin: -10px 50px;

}

.nav-links {
  text-decoration: none;
  color: seashell;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}


// debug params for dev
.debug_dump {
  border: 1px solid blue;
  background-color: yellow;
  padding: 5px;
  margin: 20px 0;
}

.container{
  min-width: 1000px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: whitesmoke;
  color: darkslateblue;
  padding-left: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


div ul li {
  height: 120px;
  list-style-type: none;
}

li > div {
  vertical-align: top;
}

.name-links {
  font-weight: bold;
  color: darkslateblue;
  font-size: 22px;
  text-decoration: none;

}

.name-links:hover {
  color: orangered;
}

#img-container {
  display: inline-block;
  width: 170px;
  height: 50px;
}

#img-container img {
  width: 150px;
  height: 100px;
}

#name-container {
  display: inline-block;
  width: 400px;
}

#button-container {
  display: inline-block;
  width: 380px;
}

#boat-name {
  font-size: 20px;
}

footer {
  height: 45px;
  min-width: 1000px;
  margin: auto;
  background-color: navy;
  border-radius: 8px;
  padding-right: 15px;
}

footer p {
  color: seashell;
  font-size: 14px;
  float: right;

}

@media (max-width: 767px) { 

  body {
    color: red;
  }

}

.show-name {
  font-size: 18px;
}

.edit {
  font-family: baskerville;
}

.edit p {}