
    <nav>
      <ul>
        <li><%= link_to "About",   about_path, class: "nav-links"%></li>
        <li><%= link_to "Contact", contact_path, class: "nav-links" %></li>
      </ul>
      <footer><p>&copy Float My Boat</p></footer>
    </nav>
    
