<header>
  
  <p class="head-float" id="head-p">Float My Boat!</p>
  <img class="head-float" id="anchor" src="http://www.clker.com/cliparts/t/b/L/P/y/w/white-anchor-md.png" height="150" width="175"/>
  <img id="main-boat" src="http://www.simplonpc.co.uk/ThamesBoats/C-Sparrow080511-6537_b.jpg" height="300" width="750"/>
    <nav>
      <ul>
        <li><%= link_to "Boats",   boats_path %></li>
        <li><%= link_to "Passengers", '#' %></li>
      </ul>
    </nav>
</header>