<header>

  <p class="head-float" id="head-p">Float My Boat!</p>
  <img class="head-float" id="anchor" src="http://www.clker.com/cliparts/t/b/L/P/y/w/white-anchor-md.png"/>
  <img id="main-boat" src="http://www.simplonpc.co.uk/ThamesBoats/C-Sparrow080511-6537_b.jpg"/>
	<nav>
	  <ul>
	    <li><%= link_to "Boats",   boats_path, class: "nav-links" %></li>
	    <li><%= link_to "Passengers", passengers_path, class: "nav-links" %></li>
	  </ul>
	</nav>
</header>