<header class="">
  <div class="">
    <nav>
      <ul>
        <li><%= link_to "Boats",   boats_path %></li>
        <li><%= link_to "Passengers", '#' %></li>
      </ul>
    </nav>
  </div>
</header>